<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-brand">
      <div class="logo">Bicho<span>Full</span></div>
      <p>A modernização da tradição em Parintins.</p>
    </div>
    
    <div class="footer-links-grid">
      <div class="link-group">
        <h4>Plataforma</h4>
        <a routerLink="/dashboard">Apostar</a>
        <a routerLink="/draws">Sorteios</a>
        <a routerLink="/#">Regulamento</a>
      </div>
      <div class="link-group">
        <h4>Suporte</h4>
        <a href="#como-jogar">Como jogar</a>
        <a routerLink="/contato">Contato</a>
        <a routerLink="/faq">FAQ</a>
      </div>
      <div class="link-group">
        <h4>Legal</h4>
        <a routerLink="/termos">Termos de uso</a>
        <a routerLink="/privacidade">Privacidade</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>BichoFull © 2026. Todos os direitos reservados.</p>
  </div>
</footer>