.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.history-table tr {
  display: table-row; /* garante comportamento correto */
}

.history-table td,
.history-table th {
  display: table-cell;
}