<div style="display: flex; justify-content: space-between; align-items: center;">
  <h2>Admin - Sorteio</h2>
  <button (click)="logout()">Sair</button>
</div>

<button (click)="runDraw()" [disabled]="loading()">
  {{ loading() ? 'Executando...' : 'Executar Sorteio' }}
</button>

<hr>

<h3>Criar Sorteio Manual</h3>

<div>
  <input type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" [(ngModel)]="manualDraw.firstPrize" placeholder="1º prêmio">
  <input type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" [(ngModel)]="manualDraw.secondPrize" placeholder="2º prêmio">
  <input type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" [(ngModel)]="manualDraw.thirdPrize" placeholder="3º prêmio">
  <input type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" [(ngModel)]="manualDraw.fourthPrize" placeholder="4º prêmio">
  <input type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" [(ngModel)]="manualDraw.fifthPrize" placeholder="5º prêmio">
</div>

<button (click)="createManualDraw()" [disabled]="loading()">
  Criar Sorteio Manual
</button>


<p *ngIf="loading()">⏳ Processando...</p>


<p *ngIf="success()">✅ Operação realizada com sucesso!</p>

<div *ngIf="result() as r">
  <h3>Resultado:</h3>
  <p>1º: {{ r.firstPrize }}</p>
  <p>2º: {{ r.secondPrize }}</p>
  <p>3º: {{ r.thirdPrize }}</p>
  <p>4º: {{ r.fourthPrize }}</p>
  <p>5º: {{ r.fifthPrize }}</p>
</div>

