<nav class="navbar-container">
  <div class="logo">Bicho Full</div>
  
  <ul class="nav-menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">Apostar</a>
    </li>
    <li>
      <a routerLink="/bet-history" routerLinkActive="active">Histórico de Apostas</a>
    </li>
    <li>
      <a routerLink="/sorteios" routerLinkActive="active">Sorteios</a>
    </li>
  </ul>

  <div class="user-section">
    <div class="profile-info">
      <span>Olá, {{ user.name }}</span>
      <img [src]="user.avatarUrl || 'assets/default-avatar.png'" alt="Avatar">
    </div>
  </div>
</nav>