<nav class="navbar-container">
  <div class="logo">Bicho<span>Full</span></div>
  
  <ul class="nav-menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">Apostar</a>
    </li>
    <li>
      <a routerLink="/bet-history" routerLinkActive="active">Histórico de Apostas</a>
    </li>
    <li>
      <a routerLink="/draws" routerLinkActive="active">Sorteios</a>
    </li>
    <li>
      <a routerLink="/how-it-works" routerLinkActive="active">Como Jogar</a>
    </li>
  </ul>

  <div class="user-section">
    <div class="profile-info">
      @if (user(); as currentUser) {
        <span>
          Olá,<br>
          {{ currentUser.name ? currentUser.name.split(' ')[0] : 'Usuário' }}
        </span>
      } @else {
        <span>Olá,<br>...</span>
      }
    </div> <button (click)="logout()" class="logout-btn">
      <span class="material-symbols-rounded">logout</span>
    </button>
  </div> 
</nav>